@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-family-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
}
